/* Challenge CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Georgia", serif;
  line-height: 1.6;
  color: #333;
}

.header {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  gap: 10px;
  padding: 15px 70px;
  justify-content: center;
  align-items: center;
  color:#8B4513;
  font-weight: bold;
}

.logo img {
    border-radius: 50%;
    border:3px solid #8B4513;
    padding: 2px;
}

.nav-menu a {
  text-decoration: none;
  color:#8B4513;
  margin: 15px;
}

.nav-menu a:hover {
  color: #000;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),url("./assets/chaipatti.png");
  background-position: center;
  background-size: cover;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-text h1 {
  margin-bottom: 20px;
  font-size: 3rem;
  color:#fff;
}

.hero-text p {
  margin-top: 10px;
  color:#fff;
}

.shop-button {
  margin-top: 30px;
  color:#fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #8B4513;
  cursor: pointer;
}

.shop-button:hover {
  color:#333;
}

.tea-collection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;
}

.tea-collection h2 {
  font-size: 2rem;
  color: #8B4513;
  font-weight: bold;
  margin-bottom: 2rem;
}

.tea-cards {
  display: flex;
  justify-content: center;
  gap: 5.5rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.tea-card {
    background: #fff;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 280px;
    text-align: center; 
}

.tea-card h3 {
  color:#8B4513;
}

.tea-card p {
  color:#767677;
}
