*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    background-color: #0460D9;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: black    ;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

li{
    margin: 0 20px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    background-color: azure;
    padding: 5px 10px;
    border-radius: 15px;
}

li:hover{
    background-color: #05C7F2;
    color: white;
}

a{
    text-decoration: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #05C7F2;

}

.left{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%; 
    
    
      
}

img{
    width: 80%;
    border-radius: 10px;
    

}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 125px 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 15px;
}

h1{
    font-size: 4rem;
    text-decoration: underline;
}

h3{
    font-size: 2rem;
    
}

.footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}